<p>
    <strong>Name:</strong>
    <%= @review.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @review.body %>
  </p>

  <p>
    <strong>Hotel:</strong>
    <%= @review.hotel.name %>
  </p>
